
<div style="margin-left:0.5cm;width:199.5mm;height:5.35cm;border:1px solid #000;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;font-size:10px !important;font-family: 'helveticacd' !important;">


<table style='width:20cm;border-bottom:1px solid #ccc;padding:0px;overflow: wrap;text-align:center;padding:0px;border-collapse: separate;border-spacing: 0px;*border-collapse: expression('separate', cellSpacing = '0px');' >
<tr>
   <td align='left' style='padding:5px;'>
   	<div id="SPESE_MONTAGGIO"><b>SPESE MONTAGGIO</b></div>
    <div id="costo_montaggio"></div>
   </td>
   <td align='left' style='padding:5px;border-left:1px solid #ccc;'>
   		<div id="SPESE_SPEDIZIONE"><b>SPESE DI TRASPORTO</b></div>
    	<div id="costo_trasporto"></div>
   </td>
</tr>
</table> 

<table style='width:20cm;border-bottom:1px solid #ccc;padding:0px;overflow: wrap;text-align:center;padding:0px;border-collapse: separate;border-spacing: 0px;*border-collapse: expression('separate', cellSpacing = '0px');min-height:350px;' >
<tr>
<td align='left' style='width:13mm;padding:5px;border-bottom:1px solid #ccc;'>
	<div id="IVA"><b>IVA<b></div>
</td>
<td align='left' style='width:50mm;padding:5px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;'>
	<div id="SCONTO"><b>SCONTO</b></div>
</td>

<td align='right' style='width:50mm;padding:5px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;background-color:#ccc;'>
	<div id="IMPONIBILE"><b>IMPONIBILE</b></div>
</td>
<td align='right' style='width:50mm;padding:5px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;background-color:#ccc;'>
	<div id="IMPORTI_IVA"><b>IMPORTO IVA</b></div>
</td>
<td align='right' style='width:49.5mm;padding:5px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;'>
	<div id="NETTO_PAGARE"><b>NETTO A PAGARE</b></div>
</td>
</tr>


<tr>
<td align='left' style='width:13mm;padding:5px;border-bottom:1px solid #ccc;'>
<div id="iva"></div>
</td>
<td align='left' style='width:74mm;padding:5px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;'>
<div id="sconto"></div>
</td>
<td align='right' style='width:50mm;font-size:12px;padding:5px;background-color:rgba(0,110,188, 0.1);border-left:1px solid #ccc;border-bottom:1px solid #ccc'>
<div id="imponibile"></div>
</td>
<td align='right' style='width:50mm;font-size:12px;padding:5px;background-color:rgba(0,110,188, 0.1);border-left:1px solid #ccc;border-bottom:1px solid #ccc;'>
<div id="importo_iva"></div>
</td>
<td align='right' style='width:49.5mm;font-size:12px;padding:5px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;'>
<div id="netto_a_pagare"></div>
</td>
</tr>


<tr>
<td colspan='4' style='width:150mm;border-left:1px solid #ccc;border-bottom:1px solid #ccc;'></td>
<td align='right' style='width:49.5mm;padding:5px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;background-color:#ccc;color:#000;font-size:12px;'>
<div id="TOTALE_PREVENTIVO"><b>TOTALE PREVENTIVO</b></div>
</td>
</tr>

<tr>
<td colspan='4' align='left' style='width:150mm;border-left:1px solid #ccc;border-bottom:1px solid #ccc;'></td>
<td align='right' style='width:49.5mm;font-size:14px;padding:5px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;background-color:rgba(0,110,188, 0.1);'>
<div id="totale_preventivo"></div>
</td>
</tr>

</table>

<table style='padding:0px;width:199.5mm;overflow: wrap;text-align:center;padding:0px;border-collapse: separate;border-spacing: 0px;*border-collapse: expression('separate', cellSpacing = '0px');' >
<tr>
<td align='left' width="50%" style='padding:5px;'>
<div id="DATA_ACCETTAZIONE"><b>DATA ACCETTAZIONE</b></div>
</td>

<td align='left' width="50%" style='padding:5px;'>
<div id="TIMBRO_E_FIRMA"><b>TIMBRO E FIRMA</b></div>
</td>
</tr>

</table>  
    
</div>

<br>
			<div>
            	<div style="width:20cm;height:50px;font-size:9px;color:#000;border-top:1mm solid #fdbe1b;clear:both;margin:0 auto;margin-bottom:5px;">
                	<div style="float:left;width:6.8cm;padding-left:10px;" id="footer_azienda_colonna1">
                   <b>SP GROUP srl Unipersonale</b><br>
                    Sede legale:<br>
                    via San Leonardo, 52 - 84131 Salerno<br>
                    Tel. +39 089 382657<br>
                    P.IVA: 05211380653<br>
                    </div>
                    <div style="float:left;width:4cm;padding-left:10px;" id="footer_azienda_colonna2">
                    Sede Operativa:<br>
via Picentino, 1 - 84131 Salerno<br>
info@salernoponteggi.com<br>
www.salernoponteggi.com<br>
                    </div>
                    <div style="float:left;width:4cm;padding-left:10px;" id="footer_azienda_colonna3">
                       <b>ITALIA</b><br>
commerciale@salernoponteggi.com<br>
marketing@salernoponteggi.com<br>

                    </div>
                    <div style="float:left;width:4cm;padding-left:10px;" id="footer_azienda_colonna4">
                      <b>ESTERO</b><br>
export@salernoponteggi.com

                    </div>
                </div>
                <div style="width:20cm;font-size:9px;color:#000;margin:0 auto;text-align:left;">
                	<div style="padding:5px 0px 0px 10px;" id="footer_azienda_iban"><b></b></div> 
                </div>
               </div>



<!--
<div style="width:100%;clear:both;height:310px;">

            <div style="float:left;width:500px;">
            		<div style="height:5px;clear:both;"></div>

            		
                    <div style="margin-left:13;width:500px;clear:both;">
                        <div style="height:20px;width:90px;float:left;">
                            <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>Mod. di pagamento</b></div>
                        </div>
                        <div style="float:left;text-align:left;height:20px;width:390px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="modalita_pagamento"></div>
                        </div>
                    </div>


                    <div style="margin-left:13;width:800px;clear:both;">
                        <div style="height:20px;width:32px;float:left;">
                            <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>Banca</b></div>
                        </div>
                        <div style="float:left;text-align:left;height:20px;width:448px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="banca"></div>
                        </div>
                    </div>


                   
                    <div style="margin-left:13;width:480px;">
                        <div style="height:20px;width:40px;float:left;">
                            <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>Agenzia</b></div>
                        </div>
                        <div style="float:left;text-align:left;height:20px;width:140px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="agenzia"></div>
                        </div>
                         <div style="height:20px;width:25px;float:left;">
                            <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>ABI</b></div>
                        </div>
                        <div style="float:left;text-align:left;height:20px;width:130px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="abi"></div>
                        </div>
                        <div style="height:20px;width:25px;float:left;">
                            <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>CAB</b></div>
                        </div>
                        <div style="float:left;text-align:left;height:20px;width:120px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="cab"></div>
                        </div>
                      
                    </div>
                   


                   
                    <div style="margin-left:13;width:480px;font-size:10px;margin-top:10px;color:#03004d;">
                       La presente ha validit&agrave; solo ed esclusivamente per i prodotti in essa proposti, salvo accettazione della casa madre per la conferma dell'ordine (seguit&agrave; conferma d'ordine da restituire sottoscritta per accettazione). Si informa che i dati utilizzati in questo documento sono trattati esclusivamente ai fini degli adempimenti amministrativi - contabili, ai sensi del D. Lgs. 196/03 testo unico della privacy.
                    </div>
                    
                    
                    
                    <div style="margin-left:13;width:480px;">
                        <div style="height:20px;width:150px;">
                            <div style="margin-top:8px;color:#03004d;font-size:13px;"><b>Consegna prevista</b></div>
                        </div>

                        <div style="height:20px;width:60px;float:left;">
                            <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>Settimana n.</b></div>
                        </div>

                        <div style="float:left;text-align:center;height:20px;width:60px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="numero_settimana"></div>
                        </div>

                        <div style="height:20px;width:25px;float:left;margin-left:5px;">
                            <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>dal</b></div>
                        </div>

                       

                       <div style="float:left;text-align:center;height:20px;width:80px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="data_consegna"></div>
                        </div>

                    </div>
                   


                    
                    <div style="margin-left:13;width:480px;">
                        <div style="height:20px;width:480px;">
                            <div style="margin-top:8px;color:#03004d;font-size:13px;"><b>Nominativo del compilatore</b></div>
                        </div>

                        <div style="text-align:left;height:30px;width:480px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="autore"></div>
                        </div>
                    </div>
                   
                   
                   
                   
                    <div style="margin-left:13;width:480px;">
                        <div style="height:20px;width:480px;">
                            <div style="margin-top:8px;color:#03004d;font-size:13px;"><b>Timbro e firma del Cliente</b></div>
                        </div>

                        <div style="text-align:left;height:30px;width:480px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;'></div>
                        </div>
                    </div>
                  

            </div>

            <div style="float:left;width:250px;padding-left:36px;">

            	<div style="height:5px;clear:both;"></div>

            	<div style="clear:both;">
                    <div style="height:20px;width:60px;float:left;">
                        <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>Imp. merce</b></div>
                    </div>

                    <div style="float:left;text-align:right;height:20px;width:166px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        <div style='padding:6px 5px 0px 0px;' id="imponibile"></div>
                    </div>

                   <div style="float:left;margin-top:8px;font-family:Arial, Helvetica, sans-serif;font-size:12px;">€</div>
            	</div>

                <div style="clear:both;">
                    <div style="height:20px;width:80px;float:left;">
                        <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>Ulteriore Sconto</b></div>
                    </div>

                    <div style="float:left;text-align:center;height:20px;width:35px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        <div style='padding:6px 5px 0px 0px;' id="sconto"></div>
                    </div>

                    <div style="height:20px;width:25px;float:left;">
                        <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>%</b></div>
                    </div>

                    <div style="float:left;text-align:right;height:20px;width:85px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        <div style='padding:6px 5px 0px 0px;' id="totale_scontato"></div>
                    </div>

                   <div style="float:left;margin-top:8px;font-family:Arial, Helvetica, sans-serif;font-size:12px;">€</div>
            	</div>

                <div style="clear:both;">
                    <div style="height:20px;width:50px;float:left;">
                        <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>Trasporto</b></div>
                    </div>

                    <div style="float:left;text-align:right;height:20px;width:176px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        <div style='padding:6px 5px 0px 0px;' id="costo_trasporto"></div>
                    </div>

                   <div style="float:left;margin-top:8px;font-family:Arial, Helvetica, sans-serif;font-size:12px;">€</div>
            	</div>


                <div style="clear:both;">
                    <div style="height:20px;width:90px;float:left;">
                        <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>Distribuz. verticale</b></div>
                    </div>

                    <div style="float:left;text-align:right;height:20px;width:136px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        <div style='padding:6px 5px 0px 0px;' id="costo_distribuzione_verticale"></div>
                    </div>

                   <div style="float:left;margin-top:8px;font-family:Arial, Helvetica, sans-serif;font-size:12px;">€</div>
            	</div>



                <div style="clear:both;">
                    <div style="height:20px;width:105px;float:left;">
                        <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>Distribuz. orizzontale</b></div>
                    </div>

                    <div style="float:left;text-align:right;height:20px;width:121px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        <div style='padding:6px 5px 0px 0px;' id="costo_distribuzione_orizzontale"></div>
                    </div>

                   <div style="float:left;margin-top:8px;font-family:Arial, Helvetica, sans-serif;font-size:12px;">€</div>
            	</div>



                <div style="clear:both;">
                    <div style="height:20px;width:80px;float:left;">
                        <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>Posa meccanica</b></div>
                    </div>

                    <div style="float:left;text-align:right;height:20px;width:146px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        <div style='padding:6px 5px 0px 0px;' id="costo_montaggio_meccanica"></div>
                    </div>

                   <div style="float:left;margin-top:8px;font-family:Arial, Helvetica, sans-serif;font-size:12px;">€</div>
            	</div>


                 <div style="clear:both;">
                    <div style="height:20px;width:70px;float:left;">
                        <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>Posa elettrica</b></div>
                    </div>

                    <div style="float:left;text-align:right;height:20px;width:156px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        <div style='padding:6px 5px 0px 0px;' id="costo_montaggio_elettrica"></div>
                    </div>

                   <div style="float:left;margin-top:8px;font-family:Arial, Helvetica, sans-serif;font-size:12px;">€</div>
            	</div>

                 <div style="clear:both;">
                    <div style="height:20px;width:70px;float:left;">
                        <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>Posa sopraluce</b></div>
                    </div>

                    <div style="float:left;text-align:right;height:20px;width:156px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        <div style='padding:6px 5px 0px 0px;' id="costo_montaggio_sopraluce"></div>
                    </div>

                   <div style="float:left;margin-top:8px;font-family:Arial, Helvetica, sans-serif;font-size:12px;">€</div>
            	</div>

                <div style="clear:both;">
                    <div style="height:20px;width:95px;float:left;">
                        <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>Totale (IVA esclusa)</b></div>
                    </div>

                    <div style="float:left;text-align:right;height:20px;width:131px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        <div style='padding:6px 5px 0px 0px;' id="totale"></div>
                    </div>

                   <div style="float:left;margin-top:8px;font-family:Arial, Helvetica, sans-serif;font-size:12px;">€</div>
            	</div>



                <div style="clear:both;">
                    <div style="height:20px;width:20px;float:left;">
                        <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>IVA</b></div>
                    </div>

                    <div style="float:left;text-align:center;height:20px;width:55px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        <div style='padding:6px 5px 0px 0px;' id="iva"></div>
                    </div>

                    <div style="height:20px;width:25px;float:left;">
                        <div style="margin-top:8px;color:#03004d;font-size:11px;"><b>%</b></div>
                    </div>

                    <div style="float:left;text-align:right;height:20px;width:126px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        <div style='padding:6px 5px 0px 0px;' id="totale_iva"></div>
                    </div>

                   <div style="float:left;margin-top:8px;font-family:Arial, Helvetica, sans-serif;font-size:12px;">€</div>
            	</div>


                <br>
                <div style="clear:both;">
                    <div style="height:20px;width:105px;float:left;">
                        <div style="margin-top:8px;color:#03004d;font-size:12px;"><b>TOTALE FORNITURA</b></div>
                    </div>

                    <div style="float:left;text-align:right;height:20px;width:121px;border-bottom:0.1mm solid #03004d;font-size:13px;">
                        <div style='padding:6px 5px 0px 0px;font-weight:bold;' id="totale_fornitura"></div>
                    </div>

                   <div style="float:left;margin-top:8px;font-family:Arial, Helvetica, sans-serif;font-size:12px;">€</div>
            	</div>



            </div>






        </div>

         

	    <div style="width:700px;height:33px;font-size:9px;color:#03004d;border-left:0.1mm solid #03004d;margin-left:90px;padding-left:15px;">
			    <b>Salerno Ponteggi srl</b> via Francesco Petrarca | Pontecagnano Faiano SALERNO - ITALY | tel. +39 089 382657 | <a href='mailto:info@salernoponteggi.com'>info@salernoponteggi.com</a><br>
			    P.IVA/C.F. 0571 19 20 651 | R.E.A. 428797
			</div>

-->