<!-- BODY -->
        <div style="width:100%;padding-top:10px;clear:both;">
            <div style="width:112px;border-right:1px solid #03004d;float:left;height:135px;">
            	<center><img src="../../htmls/templates/preventivi/logo_cerrato.png" style='margin:15px;'/></center>
          	</div>
            <div style="width:680px;height:60px;float:left;">
            	<div style="width:680px;height:60px;clear:both;border-bottom:1mm solid #03004d;">
                	<div style="width:422px;height:60px;border-right:0.1mm solid #03004d;float:left;">
                    	<div class="label" style='margin-left:8px;margin-top:15px;font-size:16px;'><b>PROPOSTA D'ORDINE</b></div>
                        <div style="margin-left:7;margin-top:0px;width:500px;clear:both;">
                        	<div style="float:left;height:20px;width:42px;">
                            	<div style="margin-top:5px;color:#03004d;"><b>Agente</b></div>
                           	</div>
                            <div style="float:left;text-align:left;border-bottom:0.1mm solid #03004d;height:20px;width:155px;font-size:10px;">
                            	<div style='padding:6px 0px 0px 6px;' id="agente"></div>
                           	</div>
                            <div style="float:left;height:20px;width:65px;margin-left:5px;">
                            	<div style="margin-top:5px;color:#03004d;"><b>Resp. area</b></div>
                           	</div>
                            <div style="float:left;text-align:left;height:20px;width:145px;font-size:10px;border-bottom:0.1mm solid #03004d;">
                            	<div style="padding:6px 0px 0px 6px;" id="resp_area"></div>
                            </div>
                      	</div>
                    
                    </div>
                    
                    
                    
                    <div style="width:146px;height:60px;border-right:0.1mm solid #03004d;float:left;">
                        <div style="margin-left:7;margin-top:15px;width:140px;clear:both;">
                        	<div style="float:left;height:20px;width:65px;">
                            	<div style="margin-top:6px;color:#03004d;font-size:13px;"><b>Cod. cliente</b></div>
                           	</div>
                            <div style="float:left;text-align:left;height:20px;width:70px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            	<div style='padding:6px 0px 0px 6px;' id="codice_cliente"></div>
                           	</div>
                    	</div>
                        
                        <div style="margin-left:7;margin-top:0px;width:140px;clear:both;">
                        	<div style="float:left;height:20px;width:60px;">
                            	<div style="margin-top:6px;color:#03004d;font-size:13px;"><b>Rif. ordine</b></div>
                           	</div>
                            <div style="float:left;text-align:left;height:20px;width:75px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            	<div style='padding:6px 0px 0px 6px;' id="rif_ordine"></div>
                           	</div>
                    	</div>
                    </div>
                    
                    
                   <div style="width:100px;height:60px;float:left;">
                       <div style="margin-left:7;margin-top:15px;width:100px;clear:both;">
                           <div style="height:20px;">
                           		<div style="margin-top:6px;color:#03004d;font-size:13px;"><b>Data</b></div>
                           </div>
                           <div style="text-align:left;height:20px;width:100px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                           		<div style='padding:6px 0px 0px 6px;' id="data"></div>
                       	   </div>
                       </div>
                   </div>
                
                </div>
                
            	<div style="width:680px;;border-right:0.1mm solid #ccc;">
                	<div style="margin-left:7;width:680px;clear:both;">
                        
                        <div style="height:20px;width:75px;float:left;">
                            <div style="margin-top:6px;color:#03004d;font-size:12px;"><b>RAG. SOCIALE</b></div>
                        </div>
                        
                        <div style="float:left;text-align:left;height:20px;width:250px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="ragione_sociale"></div>
                        </div>
                        
                         <div style="height:20px;width:26px;float:left;">
                            <div style="margin-top:6px;margin-left:4;color:#03004d;font-size:12px;"><b>VIA</b></div>
                        </div>
                        
                        <div style="float:left;text-align:left;height:20px;width:250px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="indirizzo"></div>
                        </div>
                        
                        <div style="float:left;height:20px;width:24px;">
                        	<div style="margin-top:6px;margin-left:4;color:#03004d;font-size:12px;"><b>N.</b></div>
                        </div>
                        
                        <div style="float:left;text-align:left;height:20px;width:40px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        	<div style='padding:6px 0px 0px 6px;' id="civico"></div>
                        </div>
                      
                  	</div>
            	</div>
                
                
                
                <div style="width:680px;border-right:0.1mm solid #ccc;">
                	<div style="margin-left:7;width:680px;clear:both;">
                        
                        <div style="height:20px;width:35px;float:left;">
                            <div style="margin-top:6px;color:#03004d;font-size:12px;"><b>CITT&Agrave;</b></div>
                        </div>
                        
                        <div style="float:left;text-align:left;height:20px;width:250px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="citta"></div>
                        </div>
                        
                         <div style="height:20px;width:40px;float:left;">
                            <div style="margin-top:6px;margin-left:4;color:#03004d;font-size:12px;"><b>PROV.</b></div>
                        </div>
                        
                        <div style="float:left;text-align:left;height:20px;width:90px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="provincia"></div>
                        </div>
                        
                        <div style="float:left;height:20px;width:30px;">
                        	<div style="margin-top:6px;margin-left:4;color:#03004d;font-size:12px;"><b>CAP</b></div>
                        </div>
                        
                        <div style="float:left;text-align:left;height:20px;width:60px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        	<div style='padding:6px 0px 0px 6px;'  id="cap"></div>
                        </div>
                        
                         <div style="float:left;height:20px;width:30px;">
                        	<div style="margin-top:6px;margin-left:4;color:#03004d;font-size:12px;"><b>TEL.</b></div>
                        </div>
                        
                        <div style="float:left;text-align:left;height:20px;width:130px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        	<div style='padding:6px 0px 0px 6px;' id="telefono"></div>
                        </div>
                      
                  	</div>
            	</div>
                
                
                
                <div style="width:680px;;border-right:0.1mm solid #ccc;">
                	<div style="margin-left:7;width:680px;clear:both;">
                        
                        <div style="height:20px;width:40px;float:left;">
                            <div style="margin-top:6px;color:#03004d;font-size:12px;"><b>E-MAIL</b></div>
                        </div>
                        
                        <div style="float:left;text-align:left;height:20px;width:250px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="email"></div>
                        </div>
                        
                         <div style="height:20px;width:35px;float:left;">
                            <div style="margin-top:6px;margin-left:4;color:#03004d;font-size:12px;"><b>P.IVA</b></div>
                        </div>
                        
                        <div style="float:left;text-align:left;height:20px;width:170px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                            <div style='padding:6px 0px 0px 6px;' id="partita_iva"></div>
                        </div>
                        
                        <div style="float:left;height:20px;width:30px;">
                        	<div style="margin-top:6px;margin-left:4;color:#03004d;font-size:12px;"><b>C.F.</b></div>
                        </div>
                        
                        <div style="float:left;text-align:left;height:20px;width:140px;border-bottom:0.1mm solid #03004d;font-size:10px;">
                        	<div style='padding:6px 0px 0px 6px;' id="codice_fiscale"></div>
                        </div>
                      
                  	</div>
            	</div>
              
              
              </div>
                
                
                
            </div>
        </div>
        <!-- FINE HEADER -->